.main-container {
  min-height:100%;
  position:relative;
}

.ui.container {
  padding-bottom: 50px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #000;
  height: 2em;
};